<%unless user_signed_in?%>
    <%= render 'shared/sign_up' %>
<% else %>
    <div class="container w-50">
        <% unless @posts.empty? %>
            <h5>Posts</h5>
            <% @posts.each do |post| %>
                <%= render 'posts/post', post: post %>
            <% end %>
        <% end %>
    </div>
<%end%>