<%unless user_signed_in?%>
    <%= render 'shared/sign_up' %>
<% else %>
    <div class="container w-75">
        <h5>Posts</h5>
        <% @posts.each do |post| %>
            <%= render 'posts/post', post: post %>
        <% end %>
    </div>
<%end%>