<div class="container w-50">
    <% @users.each do |user| %>
        <div class="card my-2">
            <div class="card-body">
                <%= link_to user.name, user, class: "card-link" %>
            </div>
        </div>
    <% end %>
</div>