<div class="row">

<aside class="col-md-2">
    <section>
        <h1><%= @user.name %></h1>
        <% unless @user == current_user %>
            <%= render 'friendships/form', other_user: @user %>
        <% end %>
    </section>
</aside>
<section class="col-md-8">
    <% if @user == current_user %>
        <%= render 'posts/form' %>
    <% end %>
    <% if @user.posts.any? %>
        <h5>Posts</h5>
        <% @posts.each do |post| %>
            <%= render 'posts/post', post: post %>
        <% end %>
    <% end %>
</section>
</div>

